certifi==2017.7.27.1
chardet==3.0.4
google-api-python-client==1.6.4
googlemaps==2.5.1
httplib2==0.10.3
idna==2.6
oauth2client==4.1.2
pika==0.11.0
pyasn1==0.3.7
pyasn1-modules==0.1.4
redis==2.10.6
requests==2.7.0
rsa==4.1
six==1.11.0
uritemplate==3.0.0
urllib3==1.22
